.slide1{
    height: 400px;
    width: 70%;
    position: relative;
    float: right;
    bottom: 70px;
}
.slide2,.slide3{
    height: 300px;
    width: 300px;
    position: relative
}
.slide2{
    left: 17%;
    bottom: 15px;
}
.slide3{
    left: 16.5%;
    bottom: 318px;
}

.conttext{
    height: 300px;
    width: 200px;
    position: relative;
   bottom: 580px;
   left: 23%;
   color: lightgray;
}
.offer{
    font-size: 40px;
    color: blue;
    font-weight: 400;
    position: relative;
    bottom: 520px;
    left: 42%;
}
.normaltext{
    color: lightgray;
    position: relative;
    bottom: 480px;
    left: 20px;
    
}
.slideparent{
    height: 200px;
    border-radius: 25px;
    width: 70%;
    background-color: #FEF4E8;
    position: relative;
    bottom: 450px;
    left: 15%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.col{
    width: 200px;
    height: 40px;
    border: 2px solid rgb(85, 94, 231);
    position: relative;
    left: 60px;
    top: -62px;
    border-radius: 10px;
    background-color:rgba(85, 95, 231, 0.741);
    opacity: 0.3;
    transition: all 0.3s ease-out;
}
.col:hover{
    /* background:linear-gradient(to top,rgba(85, 95, 231, 0.741)); */
    position: relative;
    height: 200px;
     top: -200px;
     opacity: 0.3;
   
}
.imgcont{
    height: 200px;
    width: 200px;
   
}

.child1{
    height: 400px;
    width: 100px;
    border: 1px solid red;
}

/* footer css */
.footer{
    position: relative;
    bottom: 250px;
    background-color: #D9F5F9;
    height: 320px;
   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
  }
  
  .ch2{
    height: 200px;
    width:25%;
    
  }
  
  .ch4{
    height: 200px;
    width:20%;
   
  }
  @media only screen 
 and (min-device-width : 768px) 
 and (max-device-width : 1024px) 
{
    .slide1{
        height: 400px;
        width: 70%;
        position: relative;
        float: right;
        bottom: 70px;
    }
    .slide2,.slide3{
        height: 300px;
        width: 300px;
        position: relative
    }
    .slide2{
        right: 50px;
        bottom: 335px;
    }
    .slide3{
       left: -140px;
        bottom: 340px;
    }
    .offer{
        font-size: 40px;
        color: blue;
        font-weight: 400;
        position: relative;
        bottom: 620px;
        left:37%;
    }
    .normaltext{
        color: lightgray;
        position: relative;
        bottom: 580px;
    font-size: 13px;
    left: -100px;
        
    }
    .slideparent{
        height: 200px;
        border-radius: 25px;
        width: 70%;
        background-color: #FEF4E8;
        position: relative;
        bottom: 550px;
        left: 15%;
        display: flex;
        justify-content: space-around;
        text-align: center;
        
    
    }
    .footer{
        position: relative;
        bottom: 250px;
        background-color: #D9F5F9;
        height: 320px;
       width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 18px;
      }
    
}